 @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.card-text h4 {
    font-size: var(--medium-fontsize);
    font-weight: 800;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  
  .card-text h6 {
    font-size: var(--small-fontsize);
    margin-bottom: 0.5rem;
    color: var(--gray-color);
  }
  
  .card-text p {
    font-size: var(--small-fontsize);
    margin-bottom: 0.5rem;
    color: var(--gray-color);
  }
  
  .card-text span {
    color: var(--secondary-color);
  }
  
  .card-colors {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
  }
  
  .color-1,
  .color-2,
  .color-3,
  .color-4 {
    border-radius: 100%;
    padding: 0.5rem;
  }
  
  .color-1 {
    background-color: #23a6f0;
  }
  
  .color-2 {
    background-color: #23856d;
  }
  
  .color-3 {
    background-color: #e77c40;
  }
  
  .color-4 {
    background-color: #252b42;
  }
  .companies {

    margin-bottom: 4rem;
    margin-top: 4rem;
    gap: 4.375rem;
  }
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    border-radius: 1px;
  }
 
  
  
  .card-img,
  .card-img-2,
  .card-img-3,
  .card-img-4,
  .card-img-5,
  .card-img-6,
  .card-img-7,
  .card-img-8,
  .card-img-9,
  .card-img-10,
  .card-img-11,
  .card-img-12 {
    width: 100%;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .card-img {
    background-image: url(./images/product1.jpg);
  }
  
  .card-img-2 {
    background-image: url(./images/product2.jpg);
  }
  
  .card-img-3 {
    background-image: url(./images/product3.jpg);
  }
  
  .card-img-4 {
    background-image: url(./images/product4.jpg);
  }
  
  .card-img-5 {
    background-image: url(./images/product5.jpg);
  }
  
  .card-img-6 {
    background-image: url(./images/product6.jpg);
  }
  
  .card-img-7 {
    background-image: url(./images/product7.jpg);
  }
  
  .card-img-8 {
    background-image: url(./images/product8.jpg);
  }
  
  .card-img-9 {
    background-image: url(./images/product9.jpg);
  }
  
  .card-img-10 {
    background-image: url(./images/product10.jpg);
  }
  
  .card-img-11 {
    background-image: url(./images/product11.jpg);
  }
  
  .card-img-12 {
    background-image: url(./images/product12.jpg);
  }
  .card {
    width: 15rem;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .cards-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 5rem;
    flex-wrap: wrap;
  
    gap: 3.125rem;
    margin: 0px;
  } */